<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /app/Chrono/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /app/Chrono/index.html [L]
</IfModule>
